crash-reports
defaultconfigs
disabledmods
logs
patchouli_book
PhilipsRuins
screenshots
schematics
shaderpacks
resourcepacks
options.txt
optionsof.txt
patchouli_data.json
saves
mods/oculus-mc1.19.2-1.6.9.jar
mods/InventoryProfilesNext-forge-1.19-1.10.9.jar
mods/kotlinforforge-3.12.0-all.jar
mods/libIPN-forge-1.19-4.0.1.jar
config/jade
config/inventoryprofilesnext
servers.dat
servers.dat_old
instance.json